img.normal {
    float: left;
    height: 380px;
    width: 300px;
    margin-right: 1rem;
}

img.alta {
    float: left;
    height: 420px;
    width: 300px;
    margin-right: 1rem;
}

h1 {
    border-bottom-style: inset;
}

pre {
    font-size: 1.2rem;
}